/*
*Wendy Mayo
*4/12/19
*HTML Structure & Other Cool Stuff
*/

/* The universal selector */
*{
}
/* Body attributes here */
body {
     width:60%;
    margin: auto;
    background-color: lightcyan;
}

header {
    font-family: fantasy;
    background-color: lightcyan;/* background color lightcyan */
    color:white; /*text color white */
    text-align: center;/* The header should be center */
    text-shadow:  2px 2px 4px #000000; /* h1 should have a shadow */
}

main {
    font-family: inherit;
    background-color: lightpink;/* background color lightink */
    color:white; /*text color white */
}

footer {
    font-family: monospace;
    background-color: lightblue;/* background color lightblue */
    color:darkcyan; /*text color darkcyan */
}

#D { width:400xpx; height: 350px;} /* the length of the picture */