/*
*Wendy Mayo
*4/12/19
*HTML Structure & Other Cool Stuff
*/

/* The universal selector */
*{
}
/* Body attributes here */
body {
     width:60%;
    margin: auto;
    background-color: lightcyan;
    font-family:fantasy
}

header {
    background-color: lightcyan;/* background color aquamarine */
    color:white; /*text color aliceblue */
    text-align: center;
    text-shadow:  2px 2px 4px #000000;
}

main {
    background-color: lightpink;/* background color aquamarine */
    color:white; /*text color aliceblue */
}

footer {
    background-color: lightblue;/* background color aquamarine */
    color:darkcyan; /*text color aliceblue */
}

#D { width:400xpx; height: 350px;}